fastapi
uvicorn[standard]
python-multipart
torch
torchvision
transformers
easyocr
python-dotenv
sympy
opencv-python-headless
Pillow
numpy
scipy
scikit-image
redis
Jinja2
aiofiles
requests
pix2tex
google-generativeai
latex2sympy2
